* {
    margin: 0;
    padding: 0;
}

header {
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.intro {
    display: flex;
    align-items: center;
    color: aqua;

}

.img-prin{
width: 50%;
}

.botao{
    background-color: blue;
    padding: 12px;
    padding-right: 20px;
}

.botao a{
    color: white;
}